:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
 
  --font-headings: 'Archivo', sans-serif;
  --font-poppins:  'Poppins', sans-serif;
  --color-background: #f2f2f2;
  --color-body-text: #1a1a1a;
  --fs-btn: 1rem;
  --fw-btn: '600'

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  font-family: var(--font-poppins);
  font-size: 16px;
}

body {
  font-size: 100%;
  background: var(--color-background);
  color: var(--color-body-text);
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: var(--font-p);
  font-weight: '400';
}
h1,h2,h3,h4,h5{
  font-family: var(--font-headings);
}
h1 {
  font-weight: '700';
  font-size: 3.052rem;
}
h2 {
  font-weight:'500';
  font-size: 2.441rem;

}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
h3,h4,h5 {
  font-weight: '600';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
