:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
 
  --font-headings: 'Archivo', sans-serif;
  --font-poppins:  'Poppins', sans-serif;
  --color-background: #f2f2f2;
  --color-primary: #fafafa;
  --color-accent-blue: #D4FCFF;
  --color-body-text: #1a1a1a;
  --color-darkblue: #020426;
  --color-btn-hover: #020426;
  --fs-btn: 1rem;
  --fw-btn: '600'

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  font-family: var(--font-poppins);
  font-size: 16px;
}

body {
  font-size: 100%;
  background: var(--color-background);
  color: var(--color-body-text);
  max-width: 1920px;
  margin: 0 auto;
}
main {
  margin-top: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: var(--font-p);
  font-weight: 400;
}
h1,h2,h3,h4,h5{
  font-family: var(--font-headings);
}
h1 {
  font-weight: 700;
  font-size: 3.052rem;
}
h2 {
  font-weight:500;
  font-size: 2.441rem;

}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
h3,h4,h5 {
  font-weight: 600;
}
.hidden {
  display: none;
}
.open {
  display: block;
  visibility: visible !important;
}
.primary-btn {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: var(--color-accent-blue);
  font-family: var(--font-headings);
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: #020426;
border-radius: 30px;
}
.primary-btn:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-accent-blue);
  cursor: pointer;
}

/* ? Burgmermenu starts here */
#menuToggle
{
  display: block;
  position: absolute;
  height: 25%;
  top: 37.5%;
  right: 24px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  max-width: fit-content;
  transition: color 0.3s ease;
}

/* #menuToggle a:hover
{
  color: var(--color-darkblue);
} */
#menuToggle li:not(:hover){
opacity: 0.6;
}
#burgerMenu {
  display: flex;
  justify-items: center;
  align-items: center;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  width: 300px;
  margin: 100px 1000px 0 0px;
  padding: 50px;
  padding-top: 40px;
  
  background: var(--color-background);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
 /*  transform: translateX(100%); */
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu {

  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  right: -200%;
  transform: translate(200%, -60%);
  padding: 50px 50px 50px 25px;
  margin-left: 25px;
  background: var(--color-background);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}





#menu li
{
  padding: 10px 0;
  font-size: 22px;
  max-width: fit-content;
}

/* Slide it in from the right */
#menuToggle input:checked ~ ul {
  transform: translate(-100%, 0%);
}

#menuToggle input:checked ~ #menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  transform: translate(-50%, -60%);
  width: max-content;
  border-left: var(--color-darkblue) 1px solid;
  border-image-width: auto;
}




.menu-overlay {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 5rem;
  left: 0;
  background: var(--color-background);

}
/* ? Burgmermenu ends here */


/* ?Navigation bar starts here */
.logo-img {
  height:fit-content;
  max-height:28px;
  max-width: 200px;
  margin-top: 4px;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 3rem;
position: fixed;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
height: 5rem;
background: #020426;
max-width: 1920px;
}
nav .primary-btn {
  margin-left: 0.5rem;
}
.nav-right {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.nav-left {
  display: flex;
align-self: center;
}
.nav-left a {
  max-height:28px;
}
nav a {
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1.5rem;
}
/* ?Navigation bar ends here */

/* ?Footer starts here */

#footerSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0.5rem 2rem 3rem;
  background: var(--color-darkblue);
  color: var(--color-primary);
}
.footer-links-group {
    padding-bottom: 1.5rem;
}
.footer-links-group ul {
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  gap: 0.5rem;
}
/* ?Footer ends here */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
